### Since the data contain both categorical and numerical data mixed-naive-bayes library is used

In [94]:
# pip install mixed-naive-bayes
# if mixed naive bayes is not installed

In [95]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from mixed_naive_bayes import MixedNB
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

### Loading test and train data

In [96]:
salary_train=pd.read_csv("C:\\Users\\Govind S\\Downloads\\ds\\ds files\\assignments\\naive bayes\\SalaryData_Train.csv")
salary_test=pd.read_csv("C:\\Users\\Govind S\\Downloads\\ds\\ds files\\assignments\\naive bayes\\SalaryData_Test.csv")

In [97]:
salary_train.workclass.value_counts()

 Private             22285
 Self-emp-not-inc     2499
 Local-gov            2067
 State-gov            1279
 Self-emp-inc         1074
 Federal-gov           943
 Without-pay            14
Name: workclass, dtype: int64

In [98]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

### Checking for null values

In [100]:
salary_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

### There are no null values

In [ ]:
### Creating a copy of the data for label encoding

In [102]:
sal_train_label=salary_train.copy()
sal_test_label=salary_test.copy()

In [103]:
sal_train_label.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Label encoding categorical features

In [104]:
labelencoder = LabelEncoder()
sal_train_label.iloc[:, 1] = labelencoder.fit_transform(sal_train_label.iloc[:,1])
sal_train_label.iloc[:, 2] = labelencoder.fit_transform(sal_train_label.iloc[:,2])
sal_train_label.iloc[:, 4] = labelencoder.fit_transform(sal_train_label.iloc[:,4])
sal_train_label.iloc[:, 5] = labelencoder.fit_transform(sal_train_label.iloc[:,5])
sal_train_label.iloc[:, 6] = labelencoder.fit_transform(sal_train_label.iloc[:,6])
sal_train_label.iloc[:, 7] = labelencoder.fit_transform(sal_train_label.iloc[:,7])
sal_train_label.iloc[:, 8] = labelencoder.fit_transform(sal_train_label.iloc[:,8])
sal_train_label.iloc[:, 12] = labelencoder.fit_transform(sal_train_label.iloc[:,12])
sal_train_label.iloc[:, 13] = labelencoder.fit_transform(sal_train_label.iloc[:,13])
sal_test_label.iloc[:, 1] = labelencoder.fit_transform(sal_test_label.iloc[:,1])
sal_test_label.iloc[:, 2] = labelencoder.fit_transform(sal_test_label.iloc[:,2])
sal_test_label.iloc[:, 4] = labelencoder.fit_transform(sal_test_label.iloc[:,4])
sal_test_label.iloc[:, 5] = labelencoder.fit_transform(sal_test_label.iloc[:,5])
sal_test_label.iloc[:, 6] = labelencoder.fit_transform(sal_test_label.iloc[:,6])
sal_test_label.iloc[:, 7] = labelencoder.fit_transform(sal_test_label.iloc[:,7])
sal_test_label.iloc[:, 8] = labelencoder.fit_transform(sal_test_label.iloc[:,8])
sal_test_label.iloc[:, 12] = labelencoder.fit_transform(sal_test_label.iloc[:,12])
sal_test_label.iloc[:, 13] = labelencoder.fit_transform(sal_test_label.iloc[:,13])

In [105]:
sal_train_label.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,4,9,13,2,3,0,4,1,0,0,13,37,0
2,38,2,11,9,0,5,1,4,1,0,0,40,37,0
3,53,2,1,7,2,5,0,2,1,0,0,40,37,0
4,28,2,9,13,2,9,5,2,0,0,0,40,4,0

In [106]:
x_train=sal_train_label.iloc[:,:-1]
y_train=sal_train_label.iloc[:,-1]
x_test=sal_test_label.iloc[:,:-1]
y_test=sal_test_label.iloc[:,-1]

### Building the model

In [108]:
mnb=MixedNB(categorical_features=[1,2,4,5,6,7,8,12])
mnb.fit(x_train,y_train)
y_train_pred=mnb.predict(x_train)
y_test_pred=mnb.predict(x_test)

### Accuracy score for train data

In [109]:
metrics.accuracy_score(y_train,y_train_pred)

0.8271940585524352

### Accuracy Score for test data

In [110]:
metrics.accuracy_score(y_test,y_test_pred)

0.8242363877822045

### Confusion matrix for train data

In [111]:
cm=confusion_matrix(y_train, y_train_pred)
cm

array([[21109,  1544],
       [ 3668,  3840]], dtype=int64)

### Confusion matrix for test data

In [112]:
cm=confusion_matrix(y_test, y_test_pred)
cm

array([[10549,   811],
       [ 1836,  1864]], dtype=int64)

### Classification report for train data

In [113]:
print(metrics.classification_report(y_train, y_train_pred))

              precision    recall  f1-score   support

           0       0.85      0.93      0.89     22653
           1       0.71      0.51      0.60      7508

    accuracy                           0.83     30161
   macro avg       0.78      0.72      0.74     30161
weighted avg       0.82      0.83      0.82     30161

### Classification report for test data

In [68]:
print(metrics.classification_report(y_test, y_test_pred))

              precision    recall  f1-score   support

           0       0.85      0.93      0.89     11360
           1       0.70      0.50      0.58      3700

    accuracy                           0.82     15060
   macro avg       0.77      0.72      0.74     15060
weighted avg       0.81      0.82      0.81     15060